@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Rubik&display=swap');

.header {
  height: 100px;
  width: auto;
  padding-left: 40px;

  background: #00a77d;
}

.name {
  line-height: 100px;

  font-family: 'PT Sans', sans-serif;
  color: snow;
}

.img-container {
  height: 600px;
  width: auto;
  background-image: url(https://github.com/stasokoleso/projects_landing/blob/master/img/wave_back.jpg?raw=true);
  background-position: center;
  background-repeat: no-repeat;

}

.nav-container {
  height: 100px;
  width: auto;
  padding-left: 40px;
  line-height: 100px;

  background: #00a77d;
}

.nav-link {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:visited {
  text-decoration: line-through;
}

.content-block {
  padding-left: 40px;
  font-family: 'Rubik', sans-serif;
}

.footer {
  height: 100px;
  line-height: 100px;
  padding-right: 40px;

  background: #00a77d;
  background-image: url(https://github.com/stasokoleso/projects_landing/blob/master/img/mcs_logo.png?raw=true);
  background-repeat: no-repeat;
  background-position: 40px center;

  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: snow;
  text-align: right;
}

.course-link {
  text-decoration: none;
  color: snow;
}

.course-link:visited {
  text-decoration: none;
  color: snow;
}
